nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav .active {
  background-color: #00850d;
}

nav li a:hover:not(.active) {
    background-color: #111;
}


body {
    background-color: #ffd3b8;
    border-bottom: 15px solid #00850d;
    padding: 50px;
    margin: 20px;
}

h1 {
    font-style: oblique;
}

h2 {
    font-style: italic;
    color: #636363;
    text-decoration: underline; 
}

section {
 display: flex;
}

aside {
 flex: 1
}

article {
 flex: 4
}
